# see: https://coverage.readthedocs.io/en/v4.5.x/config.html

[run]

# see: https://coverage.readthedocs.io/en/v4.5.x/source.html#source

# (boolean, default False): whether to measure branch coverage in addition to statement coverage
branch  = True


[report]
# Regexes for lines to exclude from consideration

exclude_lines=
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True

omit =
    venv/*
    tests/*
    setup.py
    project_conf.py
    project_conf_module.py
