## Test Requirements
## following Requirements will be installed temporarily for
## "setup.py install test" or "pip install <package> --install-option test"
black ; platform_python_implementation != "PyPy"
black==19.3b0 ; platform_python_implementation == "PyPy"
codecov
coloredlogs
coverage
flake8
mypy ; platform_python_implementation != "PyPy"
pytest
pytest-cov
pytest-runner
