## Test Requirements
## following Requirements will be installed temporarily for
## "setup.py install test" or "pip install <package> --install-option test"
typing ; python_version < "3.5"
pathlib; python_version < "3.4"
mypy ; platform_python_implementation != "PyPy" and python_version >= "3.5"
pytest
pytest-pep8 ; python_version < "3.5"
pytest-pycodestyle ; python_version >= "3.5"
pytest-mypy ; platform_python_implementation != "PyPy" and python_version >= "3.5"
pytest-runner
