## Test Requirements
## following Requirements will be installed temporarily for
## "setup.py install test" or "pip install <package> --install-option test"
black
codecov
coloredlogs
coverage
flake8
mypy
pytest
pytest-cov
pytest-runner
readme_renderer
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
