## Test Requirements
## following Requirements will be installed temporarily for
## "setup.py install test" or "pip install <package> --install-option test"
black
codecov
coloredlogs
coverage
flake8
mypy
pytest
pytest-cov
pytest-runner
readme_renderer
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
